<%- include("header") -%>


    <div class="box" id="heading">
        <h1>
            <%= listtitle %>
        </h1>
    </div>

    <div class="box">
        <!--using tags of ejs we can control the flow of js in html too -->
        <% for(var i=0; i<listitems.length; i++){ %>
            <div class="item">

                <input type="checkbox">
                <p>
                    <%= listitems[i] %>
                </p>

            </div>
            <% } %>

                <form class="item" action="/" method="post">
                    <input type="text" name="item" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="button" value=<%=listtitle %> >+</button>
                </form>
    </div>


    <%- include("footer") -%>
